<div>
  <h2 id="page-heading" data-cy="ChambreHeading">
    <span jhiTranslate="infirmerieApp.chambre.home.title">Chambres</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="infirmerieApp.chambre.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-chambre"
        [routerLink]="['/chambre/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="infirmerieApp.chambre.home.createLabel"> Créer un nouveau Chambre </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="chambres?.length === 0">
    <span jhiTranslate="infirmerieApp.chambre.home.notFound">Aucun Chambre trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="chambres && chambres.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numeroChambre">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.chambre.numeroChambre">Numero Chambre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="batiment.batimentLibelle">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.chambre.batiment">Batiment</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let chambre of chambres; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/chambre', chambre.id, 'view']">{{ chambre.id }}</a>
          </td>
          <td>{{ chambre.numeroChambre }}</td>
          <td>
            <div *ngIf="chambre.batiment">
              <a [routerLink]="['/batiment', chambre.batiment.id, 'view']">{{ chambre.batiment.batimentLibelle }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/chambre', chambre.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/chambre', chambre.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(chambre)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
