<div>
  <h2 id="page-heading" data-cy="BatimentHeading">
    <span jhiTranslate="infirmerieApp.batiment.home.title">Batiments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="infirmerieApp.batiment.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-batiment"
        [routerLink]="['/batiment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="infirmerieApp.batiment.home.createLabel"> Créer un nouveau Batiment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="batiments?.length === 0">
    <span jhiTranslate="infirmerieApp.batiment.home.notFound">Aucun Batiment trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="batiments && batiments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.batiment.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="site.lieuSite">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.batiment.site">Site</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let batiment of batiments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/batiment', batiment.id, 'view']">{{ batiment.id }}</a>
          </td>
          <td>{{ batiment.nom }}</td>
          <td>
            <div *ngIf="batiment.site">
              <a [routerLink]="['/site', batiment.site.id, 'view']">{{ batiment.site.lieuSite }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/batiment', batiment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/batiment', batiment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(batiment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
