<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="typeConsultation">
      <h2 data-cy="typeConsultationDetailsHeading">
        <span jhiTranslate="infirmerieApp.typeConsultation.detail.title">Type Consultation</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ typeConsultation.id }}</span>
        </dd>
        <dt><span jhiTranslate="infirmerieApp.typeConsultation.libelleTypeConsultation">Libelle Type Consultation</span></dt>
        <dd>
          <span>{{ typeConsultation.libelleTypeConsultation }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/type-consultation', typeConsultation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
