<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-rdv-heading" data-cy="RdvCreateUpdateHeading" jhiTranslate="infirmerieApp.rdv.home.createOrEditLabel">
        Créer ou éditer un Rdv
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="infirmerieApp.rdv.dateRdv" for="field_dateRdv">Date Rdv</label>
          <div class="input-group">
            <input
              id="field_dateRdv"
              data-cy="dateRdv"
              type="text"
              class="form-control"
              name="dateRdv"
              ngbDatepicker
              #dateRdvDp="ngbDatepicker"
              formControlName="dateRdv"
            />
            <button type="button" class="btn btn-secondary" (click)="dateRdvDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="infirmerieApp.rdv.motif" for="field_motif">Motif</label>
          <input type="text" class="form-control" name="motif" id="field_motif" data-cy="motif" formControlName="motif" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="infirmerieApp.rdv.consultation" for="field_consultation">Consultation</label>
          <select
            class="form-control"
            id="field_consultation"
            data-cy="consultation"
            name="consultation"
            formControlName="consultation"
            [compareWith]="compareConsultation"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="consultationOption" *ngFor="let consultationOption of consultationsCollection">
              {{ consultationOption.nom }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
