<div>
  <h2 id="page-heading" data-cy="PathologieHeading">
    <span jhiTranslate="infirmerieApp.pathologie.home.title">Pathologies</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="infirmerieApp.pathologie.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pathologie"
        [routerLink]="['/pathologie/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="infirmerieApp.pathologie.home.createLabel"> Créer un nouveau Pathologie </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pathologies?.length === 0">
    <span jhiTranslate="infirmerieApp.pathologie.home.notFound">Aucun Pathologie trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="pathologies && pathologies.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="libellePathologie">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.pathologie.libellePathologie">Libelle Pathologie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typePathologie.typePathologie">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.pathologie.typePathologie">Type Pathologie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="consultation.nom">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.pathologie.consultation">Consultation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pathologie of pathologies; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pathologie', pathologie.id, 'view']">{{ pathologie.id }}</a>
          </td>
          <td>{{ pathologie.libellePathologie }}</td>
          <td>
            <div *ngIf="pathologie.typePathologie">
              <a [routerLink]="['/type-pathologie', pathologie.typePathologie.id, 'view']">{{
                pathologie.typePathologie.typePathologie
              }}</a>
            </div>
          </td>
          <td>
            <span *ngFor="let consultation of pathologie.consultations; let last = last">
              <a class="form-control-static" [routerLink]="['/consultation', consultation.id, 'view']">{{ consultation.nom }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/pathologie', pathologie.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/pathologie', pathologie.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(pathologie)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
