<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="typeMedicament">
      <h2 data-cy="typeMedicamentDetailsHeading"><span jhiTranslate="infirmerieApp.typeMedicament.detail.title">Type Medicament</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ typeMedicament.id }}</span>
        </dd>
        <dt><span jhiTranslate="infirmerieApp.typeMedicament.typeMedicament">Type Medicament</span></dt>
        <dd>
          <span>{{ typeMedicament.typeMedicament }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/type-medicament', typeMedicament.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
