<div>
  <h2 id="page-heading" data-cy="AgentSanteHeading">
    <span jhiTranslate="infirmerieApp.agentSante.home.title">AgentSantes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="infirmerieApp.agentSante.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-agent-sante"
        [routerLink]="['/agent-sante/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="infirmerieApp.agentSante.home.createLabel"> Créer un nouveau Agent Sante </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="agentSantes?.length === 0">
    <span jhiTranslate="infirmerieApp.agentSante.home.notFound">Aucun Agent Sante trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="agentSantes && agentSantes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nom">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.agentSante.nom">Nom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prenom">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.agentSante.prenom">Prenom</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contact">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.agentSante.contact">Contact</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.agentSante.adresse">Adresse</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="login">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.agentSante.login">Login</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="motDePasse">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.agentSante.motDePasse">Mot De Passe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="specialite.specialite">
            <div class="d-flex">
              <span jhiTranslate="infirmerieApp.agentSante.specialite">Specialite</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agentSante of agentSantes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/agent-sante', agentSante.id, 'view']">{{ agentSante.id }}</a>
          </td>
          <td>{{ agentSante.nom }}</td>
          <td>{{ agentSante.prenom }}</td>
          <td>{{ agentSante.contact }}</td>
          <td>{{ agentSante.adresse }}</td>
          <td>{{ agentSante.login }}</td>
          <td>{{ agentSante.motDePasse }}</td>
          <td>
            <span *ngFor="let specialite of agentSante.specialites; let last = last">
              <a class="form-control-static" [routerLink]="['/specialite', specialite.id, 'view']">{{ specialite.specialite }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/agent-sante', agentSante.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/agent-sante', agentSante.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(agentSante)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
