<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="constante">
      <h2 data-cy="constanteDetailsHeading"><span jhiTranslate="infirmerieApp.constante.detail.title">Constante</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ constante.id }}</span>
        </dd>
        <dt><span jhiTranslate="infirmerieApp.constante.masse">Masse</span></dt>
        <dd>
          <span>{{ constante.masse }}</span>
        </dd>
        <dt><span jhiTranslate="infirmerieApp.constante.temperature">Temperature</span></dt>
        <dd>
          <span>{{ constante.temperature }}</span>
        </dd>
        <dt><span jhiTranslate="infirmerieApp.constante.taille">Taille</span></dt>
        <dd>
          <span>{{ constante.taille }}</span>
        </dd>
        <dt><span jhiTranslate="infirmerieApp.constante.pouls">Pouls</span></dt>
        <dd>
          <span>{{ constante.pouls }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/constante', constante.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
