<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-agent-sante-heading"
        data-cy="AgentSanteCreateUpdateHeading"
        jhiTranslate="infirmerieApp.agentSante.home.createOrEditLabel"
      >
        Créer ou éditer un Agent Sante
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="infirmerieApp.agentSante.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="infirmerieApp.agentSante.prenom" for="field_prenom">Prenom</label>
          <input type="text" class="form-control" name="prenom" id="field_prenom" data-cy="prenom" formControlName="prenom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="infirmerieApp.agentSante.contact" for="field_contact">Contact</label>
          <input type="text" class="form-control" name="contact" id="field_contact" data-cy="contact" formControlName="contact" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="infirmerieApp.agentSante.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="infirmerieApp.agentSante.login" for="field_login">Login</label>
          <input type="text" class="form-control" name="login" id="field_login" data-cy="login" formControlName="login" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="infirmerieApp.agentSante.motDePasse" for="field_motDePasse">Mot De Passe</label>
          <input
            type="text"
            class="form-control"
            name="motDePasse"
            id="field_motDePasse"
            data-cy="motDePasse"
            formControlName="motDePasse"
          />
        </div>

        <div class="row mb-3">
          <label jhiTranslate="infirmerieApp.agentSante.specialite" for="field_specialites">Specialite</label>
          <select
            class="form-control"
            id="field_specialites"
            data-cy="specialite"
            multiple
            name="specialites"
            formControlName="specialites"
            [compareWith]="compareSpecialite"
          >
            <option [ngValue]="specialiteOption" *ngFor="let specialiteOption of specialitesSharedCollection">
              {{ specialiteOption.specialite }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
